.odd {
    background: lightpink;
    font-family: "Verdana", "DejaVu Sans", sans-serif;
}

.odd.third {
    font-size: 24px;
}

#num2 {
    color: blue;
    font-size: 36px;
}

#num4 {
    background: lightgreen;
    font-size: 24px;
    font-weight: bold;
}
