.meh_button {
    background-color: black;
    color: white;
}

.better_button {
    background-color: yellow;
}

.meh_button,
.better_button {
    font-size: 28px;
    font-family: "Helvetica", "Times New Roman", sans-serif;
}
